<header id="header">
  @let loginResponse = loginResponse$ | async;
  <span class="header-title"><a routerLink="/">Future Imperfect</a></span>
  <nav class="links">
    <ul>
      @if (loginResponse?.isAdmin) {
        <li><a (click)="createArticle()">create-article</a></li>
      }
    </ul>
  </nav>
  <nav class="links">
    <ul>
      @if (loginResponse) {
        <li>
          <a>{{ loginResponse.username }}</a>
        </li>
        <li><a (click)="logout()">logout</a></li>
      } @else {
        <li><a [routerLink]="signUpRoutePath">sign-up</a></li>
        <li><a [routerLink]="loginRoutePath">login</a></li>
      }
    </ul>
  </nav>
</header>
