<header id="header">
  <span class="header-title"><a routerLink="/">Future Imperfect</a></span>
  <nav class="links">
    <ul>
      @if(username$ | async; as username) 
      {
        <li><a routerLink="/create-article">create-article</a></li>
      }
    </ul>
  </nav>
  <nav class="links">
    <ul>
      @if(username$ | async; as username) 
      {
        <li><a>{{username}}</a></li>
        <li><a (click)="logout()">logout</a></li>
      } 
      @else {
        <li><a routerLink="/sign-up">sign-up</a></li>
        <li><a routerLink="/login">login</a></li>
      }
    </ul>
  </nav>
</header>