/* Sidebar */

:host {
    margin-right: 3em;
    min-width: 22em;
    width: 22em;
    display: block;
}
:host > * {
    border-top: solid 1px rgba(160, 160, 160, 0.3);
    margin: 3em 0 0 0;
    padding: 3em 0 0 0;
}
:host > :first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}
@media screen and (max-width: 1280px) {
    :host {
        border-top: solid 1px rgba(160, 160, 160, 0.3);
        margin: 3em 0 0 0;
        min-width: 0;
        padding: 3em 0 0 0;
        width: 100%;
        overflow-x: hidden;
    }
}


/* Blurb */

.blurb h2 {
	font-size: 0.8em;
	margin: 0 0 1.5em 0;
}

.blurb h3 {
	font-size: 0.7em;
}

.blurb p {
	font-size: 0.9em;
}

/* Footer */

#footer .icons {
	color: #aaaaaa;
}

#footer .copyright {
	color: #aaaaaa;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 0.5em;
	font-weight: 400;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

body.single #footer {
	text-align: center;
}

/* intro-section */
#sidebar .intro-section {
    display: block;
}

@media screen and (max-width: 1280px) {
    #sidebar .intro-section {
        display: none;
    }
}