<header id="header">
  <span class="header-title"><a routerLink="/">Future Imperfect</a></span>
  <nav class="links">
    <ul>
      <li><a routerLink="/create-article">create-article</a></li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      @if(isAuthenticated$ | async; as isAuthenticated;) 
      {
        <li><a>Autenticado: {{isAuthenticated}}</a></li>
        <li><a routerLink="/logout">logout</a></li>
        @if(user$ | async; as user;) 
        {
          <li><a>user: {{user.email}}</a></li>
          
        } 
      } 
      @else {
        <li><a routerLink="/sign-up">sign-up</a></li>
        <li><a routerLink="/login">login</a></li>
      }
    </ul>
  </nav>
</header>