/* Main */
.main-catalog {
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-ms-flex: 1;
	width: 100%;
}

/* intro-section */
.main-catalog .intro-section {
    display: none;
}

@media screen and (max-width: 1280px) {
    .main-catalog .intro-section {
        display: block;
    }
}    