<div id="main">
  @if (isLoading$ | async) {
    <div class="loading">Loading articles catalog...</div>
  } @else {
    @for (item of articles$ | async; track item) {
      <blog-article-catalog-item [article]="item"> </blog-article-catalog-item>
    } @empty {
      <div>No articles available</div>
    }
    <!-- Pagination -->
    <ul class="actions pagination">
      <li>
        <input
          type="button"
          class="button large next"
          value="Previous Page"
          (click)="prevPage()"
          [disabled]="isPrevDisabled" />
      </li>
      <li>
        <input
          type="button"
          class="button large next"
          value="Next Page"
          (click)="nextPage()"
          [disabled]="pageNumber >= ((totalPages$ | async) ?? 0)" />
      </li>
    </ul>
  }
</div>
<app-sidebar></app-sidebar>
