.main-container {

}

.main-container {
	line-height: 1;
}

.main-container {
	-webkit-text-size-adjust: none;
}


.main-container {
  -ms-overflow-style: scrollbar;
}

.main-container, input, select, textarea {
  color: #646464;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.75;
}

  @media screen and (max-width: 1680px) {

    .main-container, input, select, textarea {
      font-size: 12pt;
    }

  }

  @media screen and (max-width: 1280px) {

    .main-container, input, select, textarea {
      font-size: 12pt;
    }

  }

  @media screen and (max-width: 980px) {

    .main-container, input, select, textarea {
      font-size: 12pt;
    }

  }

  @media screen and (max-width: 736px) {

    .main-container, input, select, textarea {
      font-size: 12pt;
    }

  }

  @media screen and (max-width: 480px) {

    .main-container, input, select, textarea {
      font-size: 12pt;
    }

  }

  
	.main-container {
		background: #f4f4f4;
	}

  .main-container.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

    
    .main-container {
		padding-top: 3.5em;
	}