/* Wrapper */

:host {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	margin: 0 auto;
	max-width: 100%;
	opacity: 1;
	padding: 4.5em;
	width: 90em;
}

	body.is-menu-visible :host {
		opacity: 0.15;
	}

	@media screen and (max-width: 1680px) {

		:host {
			padding: 3em;
		}

	}

	@media screen and (max-width: 1280px) {

		:host {
			display: block;
		}

	}

	@media screen and (max-width: 736px) {

		:host {
			padding: 1.5em;
		}

	}

	body.single :host {
		display: block;
	}
	
/* Main */

#main {
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-ms-flex: 1;
	width: 100%;
}
